body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 50px;
    padding: 20px;
    border: 18px solid #f00;
    text-align: center;
    font-size: 50px;
    border-radius: 20px;
}

#navbar {
    background-color: azure;
    padding: 20px 0;
}

.navbar-items {
    list-style: none;
    padding-left: 3px;
}

.navbar-items li {
    display: inline;
    background-color: bisque;
    border-radius: 5px;
    padding: 2px;
    margin-right: 2px;
}

.navbar-items li a {
    text-decoration: none;
}


.colwrapper, .footer {
    width: 1020px;
}

.ltcol, .ctcol, .rtcol {
    width: 300px;
    margin: 0 10px;
    padding: 10px;
}

.ltcol, .ctcol, .footer {
    float: left;
}

.rtcol {
    float: right;
}